* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "SUSE", sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

select {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 10px;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateY(-50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background: linear-gradient(90deg, #ff5050 0%, lightgreen 50%, lightblue 100%);
    transition: all .5s ease;
    background-size: 200% 100%;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "SUSE", sans-serif;
    font-weight: bold;
    color: #fff;
}

button:hover {
    background-position: 100% 0;
    color: #000;
}

.wrapper {
    margin: 0 auto;
} 

.wrapper * {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100vh;
}

#arrow {
    display: inline-block;
    position: relative;
    width: 413px;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #000;
}

#arrow::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 57%;
    transform: translateY(-50%) rotate(0deg);
    border: 5px solid transparent;
    border-top-color: #000;
}

.block {
    display: flex;
    justify-content: center;
}